In [12]:
# Add the Pandas dependency.
import pandas as pd

In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [4]:
#Show all the school names
for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [13]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [9]:
#Print the types of each school
for types in high_school_types:
    print (types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [14]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [16]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [19]:
#Iterate in the school_series
for i in school_series:
    print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [20]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [21]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [34]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [35]:
#Add each list to the dataframe
school_df["school_id"]= school_id
school_df["school_name"]= school_name
school_df["type_of_school"]= type_of_school
school_df

   School ID            school_name      type  school_id type_of_school
0          0      Huang High School  District          0       District
1          1   Figueroa High School  District          1       District
2          2    Shelton High School   Charter          2        Charter
3          3  Hernandez High School  District          3       District
4          4    Griffin High School   Charter          4        Charter

In [36]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict_df = pd.DataFrame(high_schools_dict)

In [37]:
#Get the column names of a DataFrame
school_df.columns

Index(['School ID', 'school_name', 'type', 'school_id', 'type_of_school'], dtype='object')

In [38]:
#Get the indices of the DataFrame
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
#Get the values of the DataFrame
school_df.values

array([[0, 'Huang High School', 'District', 0, 'District'],
       [1, 'Figueroa High School', 'District', 1, 'District'],
       [2, 'Shelton High School', 'Charter', 2, 'Charter'],
       [3, 'Hernandez High School', 'District', 3, 'District'],
       [4, 'Griffin High School', 'Charter', 4, 'Charter']], dtype=object)